<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>The Times of Hacker is a community which is helping security professionals and researchers round the world.</p>
		<p>It is an archive of the Hackers daily activity and happening in the world.<a href="#">The Times of Hacker</a> provides the latest hackers news and updates. </p>
		
	</div>
	<div class="col-2 homepage_content">
		<h2>Hackers News</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>The Times of Hacker | Projects </h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>